<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="./leaflet/leaflet.js"></script>
    <script src="./leaflet/leaflet.tilelayer.wmts.min.js"></script>
    <script src="./js/leaflet.latlon_graticule..js"></script>
    <script src="./js/mapConfig.js"></script>
    <script src="./js/mapTools.js"></script>
    <script src="./js/geoTools.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/qs.js"></script>
    <link rel="stylesheet" href="./leaflet/leaflet.css"/>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/map.css"/>
    <link rel="stylesheet" href="./element-ui/elementui-2.10.0.css">
    <title>探险者地图-离线数据制作工具</title>
    <script>
        window.onload = function () {
            initMap();
        };
    </script>
</head>

<body>
<div id="app">
    <div class="main_title_wrapper">
        <div style="height: 100%;float: left;">
            <img src="./image/ic_launcher.png" alt="" style="vertical-align: middle;width: 48px;height: 48px;">
            <span class="title"> 离线地图数据制作工具<span style="margin-left: 10px;">V1.4</span></span>

        </div>
        <div style="float: right;height: 60px;">
            <span class="main_menu" @click="showWXQRDailog=true">意见反馈</span>

            <span class="main_menu" @click="showInstruction=!showInstruction">使用说明</span>
            <span class="main_menu" @click="changePasswordDialog.show=!changePasswordDialog.show">修改密码</span>
            <span class="main_menu" @click="showAccountInfo">账号信息</span>
            <span class="main_menu" @click="window.location='./logout'">退出登陆</span>
        </div>
    </div>
    <div id="map">
        <div class="panel left_bottom">
            <span id="level"></span>
            <span id="coord">
                    经度：纬度：X：Y：
                </span>
            <button onclick="latlng_type_du=!latlng_type_du">
                <i class="iconfont" style="font-size:14px;">&#xe675;</i>
            </button>
        </div>


        <div class="panel right_top">
            <div class="button" @click="showMapChooseDailog=!showMapChooseDailog"
                 style="border-top-left-radius: 4px;border-top-right-radius: 4px;padding-top: 5px;"
                 :style="showMapChooseDailog?{background:'#000000ff'}:''">
                <div class="icon"><i class="iconfont">&#xe617;</i></div>
                <div class="text">地图</div>
            </div>
            <div class="button" onclick="startDrawLine()" :style="isDrawingPolyline?{background:'#000000ff'}:''">
                <div class="icon"><i class="iconfont">&#xe60f;</i></div>
                <div class="text">测距</div>
            </div>
            <div class="button" onclick="clearMeasure()">
                <div class="icon"><i class="iconfont">&#xe768;</i></div>
                <div class="text">清除</div>
            </div>
            <div class="button" :style="showLatlonGridLayer?{background:'#000000ff'}:''"
                 onclick="switchLatlngGridLayer()">
                <div class="icon"><i class="iconfont">&#xe6ec;</i></div>
                <div class="text">网格</div>
            </div>
            <div class="button" @click="findPositionPanel.show=!findPositionPanel.show"
                 :style="findPositionPanel.show?{background:'#000000ff'}:''">
                <div class="icon"><i class="iconfont">&#xe815;</i></div>
                <div class="text">找点</div>
            </div>
            <div class="button" onclick="drawRectangle()" :style="isDrawingRectangle?{background:'#000000ff'}:''">
                <div class="icon"><i class="iconfont">&#xe62f;</i></div>
                <div class="text">拼图</div>
            </div>

            <div class="button" onclick="zoomToChina()"
                 style="border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;padding-bottom: 5px;">
                <div class="icon"><i class="iconfont">&#xe670;</i></div>
                <div class="text">中国</div>
            </div>
        </div>

    </div>
    <div class="panel map_choose" style="width: 300px;left:20px;">
        <div class="title">下载任务</div>
        <div id="overlay_list" class="body" style="max-height: 400px;overflow: auto;">
            <div v-for="(value, index) in taskMap" :key="index" v-if="taskMap.size!=0" style="background-color: #00000099;
                border: 1px solid #ffffff55;
                padding: 0px 5px;">
                <el-row>
                    <el-col :span="18">{{value[1].name}}</el-col>
                    <el-col :span="6">
                        <span :style="value[1].status=='ERROR'?{color:'red'}:''">{{taskStatus(value[1].status)}}</span>
                        <a :href="baseUrl+'down?name='+value[1].url" v-show="value[1].status=='FINISHED'">下载</a>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-progress :percentage="Math.floor((value[1].process/value[1].total)*100)"
                                     :color="progressColor"></el-progress>
                    </el-col>
                </el-row>
                <el-row style="line-height: 20px;font-size: 12px;color: #ffffff99;">
                    <el-col :span="16"> {{value[1].process}} /{{value[1].total}}</el-col>
                    <el-col :span="8" v-if="value[1].status!='FINISHED'&&value[1].status!='ERROR'">
                        {{timeStampFormatter(new Date().getTime()-value[1].startTime)}}
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
    <div style="position: absolute;right:80px;top: 80px;z-index: 1000;">

        <div class="panel map_choose" v-show="showMapChooseDailog" style="width:300px;position: unset;">
            <div class="title">地图源选择</div>
            <div id="overlay_list" class="body">
                <ul style="margin-bottom: 20px;">
                    <el-radio-group v-model="selectedMapIndex" style="width: 100%;" @change="mapSourceChange">
                        <div v-for="(source,index) in mapSources" class="item" style="width: 100%;">
                            <el-radio :label="index">{{source.sourceName}}</el-radio>
                            <i class="el-icon-delete" style="float: right;cursor: pointer;" v-show="showDeleteButton"
                               @click="deleteMapSource(source.id,index)"></i>
                        </div>
                    </el-radio-group>
                </ul>
                <div>
                    <button @click="addNewMapDialog.show =!addNewMapDialog.show">添加地图</button>
                    <button @click="showDeleteButton=!showDeleteButton">管理地图</button>
                </div>

            </div>

        </div>

        <div class="panel map_choose" style="width:300px;position: unset;" v-show="findPositionPanel.show">
            <div class="title">坐标定位

                <el-switch style="float: right;" v-model="findPositionPanel.type" active-text="度分秒" inactive-text="度"
                           inactive-value='1' active-value='2'>
                </el-switch>


            </div>
            <div id="overlay_list" class="body">
                <ul style="margin-bottom: 20px;">
                    <div class="d" v-show="findPositionPanel.type==1">
                        <li class="item">
                            纬度 <input type="text" placeholder="请输入纬度" v-model="findPositionPanel.coordD[0]">

                        </li>
                        <li class="item">
                            经度 <input type="text" placeholder="请输入经度" v-model="findPositionPanel.coordD[1]">
                        </li>
                    </div>
                    <div class="dfm" v-show="findPositionPanel.type==2">
                        <li class="item">
                            经度 <input type="text" v-model="findPositionPanel.coordDFM[0]">度
                            <input type="text" v-model="findPositionPanel.coordDFM[1]">分
                            <input type="text" v-model="findPositionPanel.coordDFM[2]">秒
                        </li>
                        <li class="item">
                            纬度<input type="text" v-model="findPositionPanel.coordDFM[3]">度
                            <input type="text" v-model="findPositionPanel.coordDFM[4]">分
                            <input type="text" v-model="findPositionPanel.coordDFM[5]">秒
                        </li>
                    </div>
                </ul>
                <button @click="goTo">跳转</button>
                <button @click="findPositionPanel.show=false">关闭</button>
            </div>

        </div>

    </div>


    <el-dialog title="添加自定义地图" :visible.sync="addNewMapDialog.show" width="500px" class="mydialog">

        <el-row>
            <el-col :span="4">图源名称</el-col>
            <el-col :span="20">
                <el-input clearable v-model="addNewMapDialog.source.name"></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">地址url</el-col>
            <el-col :span="20">
                <el-input clearable v-model="addNewMapDialog.source.url"></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">瓦片尺寸</el-col>
            <el-col :span="20">

                <el-select v-model="addNewMapDialog.source.resolution" placeholder="请选择">
                    <el-option v-for="item in [256,512]" :key="item" :label="item" :value="item">

                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4" style="min-height:1px;"></el-col>
            <el-col :span="20" style="font-size: 12px;color: aqua;line-height: 20px;">
                地图源瓦片分辨率，一般为256和512两种
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="4">瓦片大小</el-col>
            <el-col :span="20">
                <el-input clearable v-model="addNewMapDialog.source.tileFileSize"></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4" style="min-height:1px;"></el-col>
            <el-col :span="20" style="font-size: 12px;color: aqua;line-height: 20px;">
                地图一张瓦片的大概大小，用于计算单次任务的下载量，单位Kb
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
                <el-button @click="addNewMapDialog.show = false">取消</el-button>
                <el-button type="primary" @click="addNewMapSource">确定</el-button>
            </span>
    </el-dialog>

    <el-dialog title="拼接地图" :visible.sync="spliceTileDialog.show" width="800px" class="mydialog"
               @open="spliceTileDialog.name='任务'+new Date().getTime()">
        <el-row>
            <el-col :span="4">任务名称</el-col>
            <el-col :span="20">
                <el-input clearable style="width: 300px;" v-model="spliceTileDialog.name"></el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">图源名称</el-col>
            <el-col :span="20" v-if="mapSource">
                {{mapSource.sourceName}}
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="4">坐标信息</el-col>
            <el-col :span="20">
                    <span style="display: block;">
                        {{spliceTileDialog.leftTop}} &emsp;{{spliceTileDialog.rightBottom}}
                    </span>

            </el-col>
        </el-row>

        <el-row>
            <el-col :span="4">基本信息</el-col>
            <el-col :span="20">
                <span v-html="spliceTileDialog.rectangleInfo"></span>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="4">拼接层级</el-col>
            <el-col :span="20">
                <el-input-number v-model="spliceTileDialog.level" :min="1" :max="20" label="描述文字"
                                 style="width: 150px;"></el-input-number>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="4">预计大小</el-col>
            <el-col :span="20">
                大约需要下载<b>
                {{totalTileSize}}</b> 片地图，大约 <b>{{picFileSize}}</b>，分辨率
                <b>{{picResolution}}</b>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="4">叠加网格</el-col>
            <el-col :span="20">
                <el-select v-model="spliceTileDialog.grid" placeholder="请选择" style="width: 150px;"
                           @change="spliceTileDialog.gridChange()">
                    <el-option v-for="(item,index) in ['无','经纬网','高斯网']" :key="index" :label="item" :value="index">
                    </el-option>
                </el-select>
                <span><span style="color: red;">*</span>&emsp;高斯网为CGCS2000椭球体下的平面投影，仅在大于13级时叠加</span>
            </el-col>
        </el-row>
        <el-row v-if="spliceTileDialog.grid!=0">
            <el-col :span="4">网格颜色</el-col>
            <el-col :span="20">
                <el-color-picker v-model="spliceTileDialog.gridColor" size="mini" style="vertical-align: middle;">
                </el-color-picker>
            </el-col>
        </el-row>
        <span slot="footer" class="dialog-footer">
                <el-button @click="spliceTileDialog.show = false">取消</el-button>
                <el-button type="primary" @click="splice">开始拼接</el-button>
            </span>
    </el-dialog>


    <el-dialog title="使用说明" :visible.sync="showInstruction" width="800px" class="mydialog">
        <h2>制作地图</h2>
        <p>先点击拼图，然后在地图上选中要拼接的地图范围，选择配置叠加层等信息，然后点击添加任务,待任务完成后点击下载即可</p>
        <h2>注意事项</h2>
        <p>1.软件不支持webp瓦片文件的格式地图源</p>
        <p>2.每日凌晨2点系统会进行询查删除所有生成的拼接图片，请及时下载完成的任务</p>
        <p>3.系统只支持不大于1000块瓦片的拼接，如果大于1000块建议分片拼接</p>
        <h2>关于叠加层</h2>
        <p>1.经纬网的具体网格间隔由系统根据您所选择的层级来自动确定</p>
        <p>2.高斯坐标网为cgcs2000椭球基准下的6度带平面投影坐标，如您选择的区域位于带与带交接处可能出现坐标错误的情况，暂不支持邻接区域的坐标叠加，敬请谅解</p>
        <p>3.高斯叠加层仅在中国区保证有效，其它区域（如南半球）不保证坐标可靠性</p>
        <p>4.高斯网仅在大于13级时才会叠加</p>
        <h2>账号收费标准</h2>
        <p>1.30元每月</p>
        <p>2.99元每年</p>
    </el-dialog>

    <el-dialog title="意见反馈" :visible.sync="showWXQRDailog" width="400px" class="mydialog">
        <div style="text-align: center;">
            <p style="text-indent: 0em;">扫描下方微信联系客服</p>
            <img src="./image/qr.jpg" alt="" style="width: 200px;height: 200px;">
        </div>
    </el-dialog>


    <el-dialog title="修改密码" :visible.sync="changePasswordDialog.show" width="800px" class="mydialog">
        <div style="width: 60%;
            margin: 0 auto;">
            <el-row>
                <el-col :span="6">当前密码</el-col>
                <el-col :span="18">
                    <el-input v-model="changePasswordDialog.nowPassword" type="password"></el-input>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">新密码</el-col>
                <el-col :span="18">
                    <el-input v-model="changePasswordDialog.newPassword" type="password"></el-input>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">重新输入</el-col>
                <el-col :span="18">
                    <el-input v-model="changePasswordDialog.newPasswordr" type="password"></el-input>
                </el-col>
            </el-row>
        </div>

        <span slot="footer" class="dialog-footer">
                <el-button @click="changePasswordDialog.show = false">取 消</el-button>
                <el-button type="primary" @click="changePassword">确 定</el-button>
            </span>

    </el-dialog>


</div>
</body>

<script src="./js/vue.min.js"></script>
<script src="./element-ui/elementui-2.10.0.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            //访问的地址目录
            baseUrl1: 'http://localhost:8080/splice/',
            baseUrl: './',
            showMapChooseDailog: false,
            positionCoord: [0, 0],
            style: 1,
            showDeleteButton: false,
            findPositionPanel: {
                show: false,
                coordD: [0, 0],
                coordDFM: [0, 0, 0, 0, 0, 0],
                type: 1
            },
            addNewMapDialog: {
                show: false,
                source: {
                    name: '',
                    url: '',
                    resolution: 256,
                    tileFileSize: 50
                }
            },
            spliceTileDialog: {
                name: '',
                show: false,
                leftTop: [],
                rightBottom: [],
                leftTopTile: [],
                rightBottomTile: [],
                rectangleInfo: '',
                grid: 1,
                level: 1,
                gridColor: '#ffffff',
                gridChange() {
                    if (this.grid == 2 && this.level < 13) {
                        app.$message.error("高斯坐标网仅在大于13级的情况下才会添加，请调整下载层级或者是下载区域范围！");
                    }

                }
            },
            mapSources: [],
            taskMap: new Map(),
            timer: null, // 初始定时器变量名为null,
            progressColor: 'greenyellow',
            selectedMapIndex: 0,
            showInstruction: false,
            showWXQRDailog: false,
            isDrawingRectangle: false,
            isDrawingPolyline: false,
            //经纬度网格开关
            showLatlonGridLayer: true,
            changePasswordDialog: {
                show: false,
                nowPassword: '',
                newPassword: '',
                newPasswordr: ''
            }

        },
        computed: {
            //计算拼接图片的分辩率
            picResolution: function () {
                this.spliceTileDialog.leftTopTile = latlon2tile(this.spliceTileDialog.leftTop, this.spliceTileDialog.level);
                this.spliceTileDialog.rightBottomTile = latlon2tile(this.spliceTileDialog.rightBottom, this.spliceTileDialog.level);
                let x = Math.abs(this.spliceTileDialog.leftTopTile[0] - this.spliceTileDialog.rightBottomTile[0]) + 1;
                let y = Math.abs(this.spliceTileDialog.leftTopTile[1] - this.spliceTileDialog.rightBottomTile[1]) + 1;
                return x * 256 + "*" + y * 256;
            },
            //计算出瓦片数量
            totalTileSize: function () {
                let totalSize = calcTotalTileSize(this.spliceTileDialog.leftTop, this.spliceTileDialog.rightBottom, this.spliceTileDialog.level);
                return totalSize;
            },
            picFileSize: function () {
                let size = this.totalTileSize * 20;
                return fileLengthFormat(size, 2);
            },
            taskList() {
                let r = [];
                this.taskMap.forEach((value, key, map) = > {
                    r.push(value);
            })
                ;
                return r;
            },
            mapSource() {
                return this.mapSources[this.selectedMapIndex];
            },
            //链接集合
            urls() {
                return {
                    addSource: this.baseUrl + 'addSource',
                    getSource: this.baseUrl + 'getSource',
                    deleteSourceById: this.baseUrl + 'delete?id=',
                    updateTaskById: this.baseUrl + 'ps?id=',
                    addTask: this.baseUrl + 'splice',
                    download: this.baseUrl + 'down',
                    changePassword: this.baseUrl + 'change',
                    getAccountInfo: this.baseUrl + 'info'
                }
            }
        },
        methods: {
            post(url, params, success) {
                axios.post(url, Qs.stringify(params)).then(r = > {
                    if(r.status == 200
            )
                {
                    success(r.data);
                }
            else
                this.$message.error('服务器错误' + r.status);
            }).
                catch(r = > {
                    this.$message.error('网络错误');
            })
                ;
            },
            get(url, success) {
                axios.get(url).then(r = > {
                    if(r.status == 200
            )
                {
                    success(r.data);
                }
            else
                this.$message.error('服务器错误' + r.status);
            }).
                catch(r = > {
                    this.$message.error('网络错误');
            })
                ;
            },
            goTo() {
                map.flyTo(this.findPositionPanel.coordD, 12, 0.5);
                addMarker(this.findPositionPanel.coordD);
            },
            addNewMapSource() {
                if (this.addNewMapDialog.source.name == '' || this.addNewMapDialog.source.url == '') {
                    this.$message.error('名称和地址不能为空！');
                    return;
                }
                let p = {
                    sourceName: this.addNewMapDialog.source.name,
                    url: this.addNewMapDialog.source.url,
                    resolution: this.addNewMapDialog.source.resolution,
                    tileFileSize: this.addNewMapDialog.source.tileFileSize
                };
                this.post(this.urls.addSource, p, r = > {
                    if(r.code == 1
            )
                {
                    this.$message.success('添加成功！');
                    this.addNewMapDialog.source = {
                        name: '',
                        url: '',
                        resolution: 256,
                        tileFileSize: 50
                    };
                    this.updateMapSource();
                    this.addNewMapDialog.show = false;
                }
            })
                ;
            },
            updateMapSource() {
                axios.get(this.urls.getSource).then(r = > {
                    if(r.status == 200
            )
                {
                    this.mapSources = r.data;
                    this.mapSourceChange();
                }
            })
            },
            deleteMapSource(id, index) {
                if (this.mapSource.id == id) {
                    //如果当前删除的是选择的地图
                    this.$message.error('正在使用该地图，请先切换至其它地图源！');
                    return;
                }

                if (this.mapSources[index].type == 0) {
                    this.$message.error('内置地图无法删除！');
                    return;
                }
                this.$confirm('是否确定删除？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() = > {
                    axios.get(this.urls.deleteSourceById + id).then(r = > {
                    if(r.status == 200
            )
                {
                    this.$message.success('删除成功！');
                    if (this.selectedMapIndex > index) {
                        this.selectedMapIndex--;
                    }
                    this.updateMapSource();
                }
            })
            })
                ;
            },
            mapSourceChange() {
                if (map.hasLayer(baseTileLayer)) {
                    map.removeLayer(baseTileLayer);
                }
                baseTileLayer = L.tileLayer(this.mapSource.url, {
                    maxZoom: 18,
                    tileSize: 256
                });
                map.addLayer(baseTileLayer);
                this.$message.success('地图已经切换至 ' + this.mapSource.sourceName);
            },
            taskStatus(statusCode) {
                switch (statusCode) {
                    case 'START':
                        return '已启动';
                    case 'RUNNING':
                        return '进行中';
                    case 'DOWNLOADING':
                        return '下载中';
                    case 'SPLICING':
                        return '拼接中';
                    case 'FINISHED':
                        return '完成';
                    case 'ERROR':
                        return '错误';
                }
            },
            updatetaskMap(uuid) {
                this.taskMap.set(uuid, {
                    uuid: uuid
                });
                if (this.timer == null) {
                    this.timer = setInterval(() = > {
                        this.taskMap.forEach((value, key, map) = > {
                        //如果该任务还在进行中 则继续获取状态
                        if(value.status != 'FINISHED' && value.status != 'ERROR'
                )
                    {
                        this.get(this.urls.updateTaskById + key, data = > {
                            console.log(data);
                        //更新
                        map.set(key, data);
                        this.$forceUpdate();
                    })
                        ;
                    }

                })
                    ;
                },
                    1000
                )
                    ;
                }
            },
            splice() {
                let p = {
                    mapId: this.mapSource.id,
                    x1: this.spliceTileDialog.leftTopTile[1],
                    y1: this.spliceTileDialog.leftTopTile[0],
                    x2: this.spliceTileDialog.rightBottomTile[1],
                    y2: this.spliceTileDialog.rightBottomTile[0],
                    z: this.spliceTileDialog.level,
                    name: this.spliceTileDialog.name,
                    grid: this.spliceTileDialog.grid,
                    gridColor: this.spliceTileDialog.gridColor
                };
                if (this.totalTileSize > 1000) {
                    this.$message.error('大于1000块将会提高受网速影响的不确定性，建议进行分割下载！');
                    return;
                }
                this.post(this.urls.addTask, p, data = > {
                    if(data.code == 1
            )
                {
                    this.$message.success('任务添加成功！');
                    //获取到任务id
                    let id = data.data;
                    this.spliceTileDialog.show = false;
                    this.updatetaskMap(id);
                }
            else
                if (data.code == 0) {

                    this.$alert('您的账号已过期，请联系客服！微信客服emap_service', '账号过期提示');
                }
            })
                ;


            },
            downloadResult(name) {
                axios.post(this.urls.download, Qs.stringify({
                    name: name
                }), {
                    responseType: 'blob'
                })
                    .then((response) = > {
                    let data = response.data;
                if (!data) {
                    return
                }
                let url = window.URL.createObjectURL(new Blob([data]))
                let link = document.createElement('a')
                link.style.display = 'none'
                link.href = url
                link.download = name; //下载后文件名
                link.setAttribute('download', name);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link); //  下载完成移除元素
                window.URL.revokeObjectURL(link.href); // 释放掉blob对象
            })

            },
            changePassword() {
                let p = this.changePasswordDialog;
                if (p.nowPassword == '' ||
                    p.newPassword == '' ||
                    p.newPasswordr == '') {
                    this.$message.error('密码不能为空');
                    return;
                }

                if (p.newPassword != p.newPasswordr) {
                    this.$message.error('两次输入的密码不一致！');
                    return;
                }

                this.post(this.urls.changePassword, p, r = > {
                    if(r.code == 1
            )
                {
                    this.$message.success('修改成功');
                    p.show = false;
                }
            else
                this.$message.error(r.info);
            })
                ;
            },
            showAccountInfo() {
                this.post(this.urls.getAccountInfo, {}, r = > {
                    let userName = r.userName;
                let createTime = r.createTime;
                let expiration = r.expiration;
                let html = '<p>用户名：' + userName + '</p>';
                html += '<p>生成日期：' + createTime + '</p>';
                html += '<p>过期日期：' + expiration + '</p>';
                this.$alert(html, '账号信息', {
                    dangerouslyUseHTMLString: true
                });


            })
                ;
            }
        },
        mounted: function () {
            this.updateMapSource();
        }
    });
</script>

</html>